body {
    font-family: 'Changa', sans-serif;
    background-color: rgb(86, 145, 255);
}

h3 {
    margin: 0px;
    text-align: center;
}

#title {
    font-size: 50px;
    margin: 0px;
}

section {
    position: relative;
    width:100%;
    min-height:100vh;
}

#cover {
    margin: 0px;
    font-size: 400px;
    line-height: 249px;
    font-weight: 375;
    letter-spacing: -40px;
    color:white;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: row;
    margin: 0px 80px;
    padding: 0px;
    justify-content: flex-end;
}

.nav {
    list-style: none;
    background-color: rgb(86, 145, 255);
    border-radius: 2rem;
    padding: 5px;
    width: 100px;
    text-align: center;
    color: white;
    margin: 5px;
    border: 5px solid white;
}

#font {
    display: flex;
    position: fixed;
    top: 100px;
}

.copy {
    position: relative;
    width:100%;
    min-height:70vh;
    background-color: rgb(86, 145, 255);
    opacity: 90%;
    padding: 20px;
    color: white;
}

section::before {
    content:'';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,  rgb(86, 145, 255), transparent );
    z-index: 10;
}

#section3::before{

        content:'';
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height: 100px;
        background:none;
        z-index: 0;
}

#section3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(86, 145, 255);
}

#breaker {
    min-height: 10px;
    background-color: rgb(86, 145, 255);
}

/* #brea::before {
    content:'';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,  rgb(86, 145, 255), transparent );
    z-index: 10;
} */

.cards {
    width: 400px;
    height: 600px;
    margin: 20px;
    border-radius: 2rem;
    background-color: white;
}

img {
    width: 350px;
    height: 200px;
    padding: 20px;
    border-radius: 2rem;
}

.cards p {
    margin: 0px 20px;
}

.cards h3 {
    font-size:30px;
}

