body {
    font-family: 'Changa', sans-serif;
    background-color: rgb(86, 145, 255);
}

h3 {
    margin: 0px 50px;
    font-size: 30px;
}

#title {
    font-size: 50px;
    margin: 0px 24px;
}

.copyP {
    margin: 0px 50px;
}

section {
    position: relative;
    width:100%;
    min-height:100vh;
}

#coverImage {
    display: flex;
    flex-direction: column;
}

#cover {
    margin: 0px;
    font-size: 400px;
    line-height: 249px;
    font-weight: 375;
    letter-spacing: -40px;
    color:white;
    text-align: center;
    position: fixed;
    left: 287px;
    top: 111px;
}

#cover2 {
    margin: 0px;
    font-size: 74px;
    line-height: 249px;
    font-weight: 375;
    letter-spacing: -4px;
    color: white;
    text-align: center;
    position: fixed;
    justify-content: center;
    top: 515px;
    left: 325px;
}

.copy {
    position: relative;
    width:100%;
    min-height:70vh;
    background-color: rgb(86, 145, 255);
    opacity: 90%;
    padding: 20px;
    color: white;
}

section::before {
    content:'';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,  rgb(86, 145, 255), transparent );
    z-index: 1;
    opacity: 90%;
}

#section3::before{

        content:'';
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height: 100px;
        background:none;
        z-index: 0;
}

#section3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(86, 145, 255);
    justify-content: center;
}

#breaker {
    min-height: 10px;
    background-color: rgb(86, 145, 255);
}

.cards {
    width: 400px;
    height: 600px;
    margin: 20px;
    border-radius: 2rem;
    background-color: white;
    color: #637273;
    font-family: 'Cairo', sans-serif;
}

/* img {
    width: 350px;
    height: 200px;
    padding: 20px;
    border-radius: 2rem;
} */

.cards p {
    margin: 0px 20px 40px 20px;
}

.cards h3 {
    font-size:30px;
    padding: 30px 0px;
    text-align: center;
}



button {
    width: 100px;
    height: 40px;
    border-radius: 2rem;
    background-color: transparent;
/*     color:rgb(86, 145, 255); */
    color: #637273;
/*     font-family: 'Changa', sans-serif; */
    font-family: 'Cairo', sans-serif;
/*     border: 3px solid rgb(86, 145, 255); */
    border: 3px solid #637273;
    /* border:0px; */
}

button:hover {
    color:orange;
    border:3px solid orange;
}

.nav-link:hover {
    color:orange;
    font-weight:bold;
    font-size:20px;
}

.btnDiv {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: 80px;
}

#cardBtn1 {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: 40px;
}

.img {
    background-size: cover;
    /* width: 350px; */
    height: 250px;
    /* padding: 20px; */

    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

#img1 {
    background-image: url("../Assets/get-help.jpeg");
}

#img2 {
    background-image: url("../Assets/warning-signs.jpeg");
}

#img3 {
    background-image: url("../Assets/how-to-help.jpeg");
}

.nav-link-footer {
    text-decoration: none;
    color:#637273;
    font-weight: bold;
}

/* .nav-link-footer:hover {
    color: orange;
} */

@media screen and (max-width:1500px) {
    #cover {
        left: 185px;
    }

    #cover2 {
        left: 225px;
    }
}

@media screen and (max-width:1400px) {
    #cover {
        left: 100px;
    }

    #cover2 {
        left: 132px;
    }
}

@media screen and (max-width:1300px) {
    #cover {
        left: 60px;
    }


    #cover2 {
        left: 105px;
    }
}

@media screen and (max-width:1200px) {
    #cover {
        left: 5px;
    }

    #cover2 {
        left: 81px;
        font-size: 68px;
    }
}

@media screen and (max-width:1100px) {
    #cover {
        left: 47px;
        font-size: 350px;
        line-height: 217px;
    }

    #cover2 {
        left: 42px;
        font-size: 68px;
        line-height: 249px;
    }
}

@media screen and (max-width:1000px) {
    #cover {
        left: -6px;
    }

    #cover2 {
        left: 67px;
        font-size: 58px;
        line-height: 136px;
    }
}

@media screen and (max-width:900px) {
    #cover {
        left: 30px;
        font-size: 300px;
        line-height: 185px;
    }

    #cover2 {
        line-height: 48px;
        left: 20px;
    }
}

@media screen and (max-width:800px) {
    #cover {
        left: 61px;
    font-size: 250px;
    line-height: 154px;
    letter-spacing: -30px;
    }

    #cover2 {
        top: 433px;
    }
}

@media screen and (max-width:700px) {
    #cover {
        left: -9px;
    }

    #cover2 {
        left: -23px;
    }
}

@media screen and (max-width:600px) {
    #cover {
        left: 30px;
        font-size: 200px;
        line-height: 126px;
    }

    #cover2 {
        left: -23px;
        font-size: 48px;
        top: 364px;
    }
}

@media screen and (max-width:500px) {
    #cover {
        left: 12px;
        font-size: 180px;
        line-height: 109px;
        letter-spacing: -26px;
    }

    #cover2 {
        top: 339px;
        line-height: 46px;
    }
}

/* @media screen and (max-width:500px) {
    #cover {
        left: 12px;
        font-size: 180px;
        line-height: 109px;
        letter-spacing: -26px;
    }
} */